.sidebar {
    .block {
        margin-bottom: 2rem;
        border: 1px solid $light;
        padding: 1rem;
        font-size: .9rem;
        background: $offwhite;
        h2.block-title {
            font-size: 1.3rem;
        }
        
        button,
        a.button {
            font-size: .8rem;
            padding: 10px;
        }
    }

}


.footer-top {
    margin-bottom: 2rem;
    .block-search {
        max-width: 300px;
        margin: 0px auto;
        .form-item, input, button {
            vertical-align: top;
            padding: 0px;
            margin:0px;
        }
        input {
            padding: .5rem;
        }
    }
}
