body {
  color: $mediumgrey;
  letter-spacing: normal;
}

a {
  color: $primarydark;
}
a:hover {
  color: $primary;
}

.button {
  @include fos-button;
}
.button:hover {
  @include fos-button-hover;
}
strong{
  font-weight: 700;
}

figure {
  margin: 0px;
  padding: 0px;
}



h1#page-title {
	font-size: 2.5rem;
}



#page-tabs {
  .tab-navigation {
    background: $verylightgrey;
    border: 1px solid $verylightgrey;
    display: block;
    li {
      a {
        background: none;
        border-bottom: none;
        font-weight: 700;
      }
      a:hover {
        background: $lightgrey;
        color: $white;
      }
    }
    li.active {
      a {
        background: $primary;
        color: $white;
      }
    }
    
  }
}



//Site Logo
.top-bar {
 .title-area {
   .name {
     a {
       @include text-image('logo.png');
       width: 192px; 
       line-height: $topbar-height;
       padding: 0px;
       height: 50px;
       @include breakpoint($tablet){
         height: 4rem;
         line-height: 4rem;
       }
     }
     a:hover {
       opacity:0.8;
     }
   }
 } 
}
