//Some stuff in all views
.view {
  .views-exposed-form {
    margin-bottom: 2rem;
    .views-exposed-widget {
      padding-top: 0px;
      margin-top: 0px;
      vertical-align: bottom;
      display: inline-block;
      float: none;
      select {
        margin-bottom: 0px;
      }
      .form-submit {
        margin-top: 0px;
        padding: .5rem;
        vertical-align: bottom;
      }
    }
  }
}



//QUOTATIONS VIEW @ /quotations

.view-quotations {
    .views-row {
        margin-bottom: 3rem;
    }
}